
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;    
}
:root {
    --main-color: #F1F6F9;
    --text-color: #394867;
    --bg-color: #212A3E;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
.container{ 
    max-width: 1068px;
    
}
.bx bx-bar{
    color: #212A3E;
}